.containeur {
  margin: 12em 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.cercle {
  border: 1px solid;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.txt_moon {
  font-size: 3em;
}

.txt_earth {
  font-size: 5em;
}

.earth {
  position: absolute;
  background-color: #0C7593;
  width: 30em;
  height: 30em;
}

@keyframes moon {
  45% { transform: translateX(17em) rotateY(90deg); }
  50% { background-color: transparent; border: none; transition-duration: none; color: transparent;}
  55% { transform: translateX(-17em) rotateY(-90deg); }
}

.moon {
  position: relative;
  z-index: 2;
  background-color: #B1B1B3;
  width: 12em;
  height: 12em;
  animation: moon 3s infinite ease-in-out;
  transform: perspective(2.5cm);
}